@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: content-box;
  outline: none;
  /* overflow: hidden; */
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-weight: 700;
  direction: rtl;
  background: url(/img/image.png) center center/cover no-repeat fixed;
}

.mainPage {
  display: none;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  justify-content: space-between;
  margin: 2rem 0 4rem 0;
}

a {
  /* color: #ffd000; */
  color: ghostwhite;
  text-decoration: none;
}

a:hover {
  /* color: #ff0000; */
  color: #ffd000;
}

.downloadSurah {
  color: #ffd000;
  cursor: pointer;
}

.downloadSurah:hover {
  color: #51ff00dc;
}

.letter {
  /* background-color: #ffd000;
  border-radius: 10%;
  color: #000;
  width: 50px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030; */

  background: #64ad15;
  color: ghostwhite;
  display: inline-block;
  width: 35px;
  border-radius: 10px 10px 10px 0;
  padding: 5px;
  margin-top: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px 0 #64ad1578;
}

.reciterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;

}

.namesContainers {
  display: flex;
  justify-content: space-between;
  /* gap: 1rem; */
}

.reciterBox {
  /* border: 10px solid #000;
  background-color: #000;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 1px #51ff00dc;
  list-style: none;
  font-weight: bold; */

  background-color: #000;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  /* font-weight: 700; */
  /* direction: rtl; */
  width: clamp(260px, 24vw, 500px);
  transition: .5s color ease;
  cursor: pointer;
  padding: 10px;
}

.title {
  max-width: 1170px;
  margin: 10px auto 0;
  /* font-weight: bold; */
}

.container {
  display: none;
  width: 100%;
  margin: 0 auto;
}

.player {
  background: #535353;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.player .title {
  padding: 10px 0;
  font-size: 20px;
  color: ghostwhite;
  /* font-weight: 700; */
  text-align: center;
}

.player audio {
  width: 100%;
  height: 40px;
  margin: 15px 0;
}

.player .buttons {
  display: flex;
  justify-content: space-around;
}

.buttons .icon {
  color: gray;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: ghostwhite;
  display: grid;
  place-items: center;
  font-size: 25px;
  cursor: pointer;
}

.surahList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.surahList::-webkit-scrollbar {
  background-color: red;
}

.surahList>div {
  color: #000000;
  background-color: ghostwhite;
  border-radius: 20%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  /* font-weight: bold; */
  /* direction: rtl; */
  width: clamp(150px, 15vw, 300px);
  transition: .5s color ease;
  cursor: pointer;
  padding: 0px 10px;
  font-size: 20px;
}

/* .surahList > div .surahBox {
  color: brown;
}

.surahList > div::after {
  content: counter(surah-counter);
  position: absolute;
  height: 80px;
  width: 80px;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 25px;
  line-height: 80px;
  text-align: center;
  background-color: inherit;
  transition: inherit;
  box-shadow: inherit;
}

.surahList > div::before {
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-right-color: #23162f;
  top: 50%;
  transform: translateY(-50%);
  left: -14px;
} */

.surahList>div:hover,
.surahList>div:hover::after {
  background: linear-gradient(to bottom, #434343, black);
  color: ghostwhite;
}

.containers {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.surahSearch, .reciterSearch {
  width: 200px;
  height: 50px;
  background-color: ghostwhite;
  font-size: 18px;
  /* font-weight: bold; */
  border: hidden;
  border-radius: 2px;
  color: #474747;
  padding-right: 10px
}

.info {
  color: ghostwhite;
}

.quranPlayer {
  display: none;
}

/*Styling Selectbox*/
.dropdown {
  width: 300px;
  display: inline-block;
  background-color: ghostwhite;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 16px;
  /* font-weight: bold; */
  color: #474747;
  /* height: 100%; */
  text-align: right
}

.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px
}

.dropdown .select>i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all .3s ease-in-out;
  float: right;
  line-height: 20px
}

.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
  background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8
}

.dropdown.active .select>i {
  transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: auto;
  overflow-y: auto;
  z-index: 9
}

.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer
}

.dropdown .dropdown-menu {
  padding: 0;
  list-style: none
}

.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2
}

.loader {
  display: none;
  margin: 15vh auto;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd); */
  background: linear-gradient(#00ff40, #00ffbf, #00ff80);
  animation: animate 1s linear infinite;
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: url('quran.png');
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid white 10px;
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}