@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

* {
  padding: 0;
  box-sizing: content-box;
  outline: none;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-weight: 700;
  direction: rtl;
  background: url(../img/bg.png) center center/100vh scroll;
  background-color: #041b23;
  margin: 0;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000001a;
  background-color: ghostwhite;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#0b8d9e), to(#13d1c1), color-stop(.6, #19adad))
}

.mainPage {
  display: none;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  justify-content: space-between;
  background-color: #000000ce;
  padding: .5rem;
}

a {
  color: ghostwhite;
  text-decoration: none;
}

a:hover {
  color: #ffd000;
}

.downloadSurah {
  color: #ffd000;
  cursor: pointer;
}

.downloadSurah:hover {
  color: #51ff00dc;
}

.r-letter {
  background: #15b3c1;
  color: ghostwhite;
  display: inline-block;
  width: 35px;
  border-radius: 10px 10px 10px 0;
  padding: 5px;
  margin-top: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px 0 #15b3c186;
}

.l-letter {
  background: #15b3c1;
  color: ghostwhite;
  display: inline-block;
  width: 35px;
  border-radius: 10px 10px 0px 10px;
  padding: 5px;
  margin-top: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px 0 #15b3c186;
}

.reciterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.namesContainers {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.reciterBox {
  background-color: #000;
  border-radius: 10%;
  box-shadow: 0px 0px 10px 0px #000;
  width: clamp(260px, 24vw, 500px);
  transition: .5s color ease;
  cursor: pointer;
  padding: 10px;
}

.title {
  max-width: 1170px;
  margin: 10px auto 0;
}

.container {
  display: none;
  width: 100%;
  margin: 0 auto;
}

.player {
  background: #000000ce;
  padding: 20px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.player .title {
  padding: 10px 0;
  font-size: 20px;
  color: ghostwhite;
  text-align: center;
}

.player audio {
  width: 100%;
  height: 40px;
  margin: 15px 0;
}

.player .buttons {
  display: flex;
  justify-content: space-around;
}

.buttons .icon {
  color: gray;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: ghostwhite;
  display: grid;
  place-items: center;
  font-size: 25px;
  cursor: pointer;
}

.surahList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1rem 0;
}

.surahList::-webkit-scrollbar {
  background-color: red;
}

.surahList>div {
  color: #000000;
  background-color: ghostwhite;
  border-radius: 20%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  width: clamp(150px, 15vw, 300px);
  transition: .5s color ease;
  cursor: pointer;
  padding: 0px 10px;
  font-size: 20px;
}

.surahList>div:hover,
.surahList>div:hover::after {
  background: linear-gradient(to bottom, #434343, black);
  color: ghostwhite;
}

.containers {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.surahSearch, .reciterSearch {
  width: 200px;
  height: 50px;
  background-color: ghostwhite;
  font-size: 18px;
  border: hidden;
  border-radius: 2px;
  color: #474747;
  padding-right: 10px;
}

.info {
  color: ghostwhite;
}

.quranPlayer {
  display: none;
}

#d-reciter {
  display: none;
}

.dropdown {
  width: 300px;
  display: inline-block;
  background-color: ghostwhite;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  position: relative;
  font-size: 16px;
  color: #474747;
  text-align: right;
}

.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
}

.dropdown .select>i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all .3s ease-in-out;
  float: right;
  line-height: 20px;
}

.dropdown:hover {
  box-shadow: 0 0 4px #cccccc;
}

.dropdown:active {
  background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8
}

.dropdown.active .select>i {
  transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px #cccccc;
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: auto;
  overflow-y: auto;
  z-index: 9
}

.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer
}

.dropdown .dropdown-menu {
  padding: 0;
  list-style: none
}

.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2
}

.loader {
  display: none;
  margin: 15vh auto;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background: linear-gradient(#00ff40, #00ffbf, #00ff80); */
  background: linear-gradient(#00d9ff, #00f7ff, #00eeff);
  animation: animate .9s linear infinite;
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: url('quran.png');
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid #f8f8ff 10px;
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}